{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock %}</title>
    {% include 'includes/header.html'%}
</head>

<body>
<header class="header-global">
    {% include 'includes/nav.html' %}
</header>
    <main>

        <div class="preloader bg-dark flex-column justify-content-center align-items-center">
            {% include 'includes/preloader.html' %}
        </div>

        <!-- Hero -->
        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">

                        <div class="container">
                          {% block content %}
                            <h1>Котаны</h1>
                            <h1>переделать под себя</h1>
                            <h1>Шаблон на 3000 строк</h1>
                            <h1>Оказалось не просто</h1>
                          {% endblock %}
                        </div>
<!--                        <h1 class="fw-bolder display-2">Test <<1>> </h1></h1>-->
<!--                        <h2 class="lead fw-normal text-muted mb-4 px-lg-10">description/h2>-->
                        <!-- Button Modal -->
                        <div class="d-flex justify-content-center align-items-center mb-5">
<!--                            <a href="#components" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2"><span-->
<!--                                    class="fas fa-th-large me-2"></span> <span class="d-none d-md-inline">Explore-->
<!--                                    components</span> <span class="d-md-none">Components</span></a>-->
<!--                            <a class="github-button" href="https://github.com/themesberg/pixel-bootstrap-ui-kit"-->
<!--                                data-color-scheme="no-preference: dark; light: light; dark: light;"-->
<!--                                data-icon="octicon-star" data-size="large" data-show-count="true"-->
<!--                                aria-label="Star themesberg/pixel-bootstrap-ui-kit on GitHub">Star</a>-->
                        </div>
                        <div class="d-flex justify-content-center flex-column mb-6 mb-lg-5">
<!--                            <a href="https://themesberg.com" class="d-block text-center mx-auto" target="_blank">-->
<!--                                <img src="/static/assets/img/themesberg.svg" class="d-block mx-auto mb-3" height="25"-->
<!--                                    width="25" alt="Themesberg Logo">-->
<!--                                <span class="text-muted font-small">A Themesberg production</span>-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
<!---->
<!--      HERE WAS includes/commented2.html      -->
<!---->
        <div class="section section-sm pb-0 mb-n4">
            <div class="container">
                <div class="row justify-content-center">
                    <h3 class="text-center">&nbsp;&nbsp;</h3>
                </div>
            </div>
        </div>
<!---->
<!--      HERE WAS includes/commented.html      -->
<!---->
</main>
<footer class="footer pt-6 pb-5 bg-primary text-white">
    {% include 'includes/footer.html' %}
</footer>

    <!-- Core -->
<script src="/static/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="/static/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="/static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/static/vendor/vivus/dist/vivus.min.js"></script>
<script src="/static/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="/static/assets/js/pixel.js"></script>

</body>

</html>